<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <!-- plugins -->
            <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2" style="font-display: optional;">
            <link rel="stylesheet" href="../datas/logbook-bootstrap-main/theme/plugins/bootstrap/bootstrap.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap" media="screen">

            <link rel="stylesheet" href="../datas/logbook-bootstrap-main/theme/plugins/themify-icons/themify-icons.css">
            <link rel="stylesheet" href="../datas/logbook-bootstrap-main/theme/plugins/slick/slick.css">

            <!-- Main Stylesheet -->
            <link rel="stylesheet" href="{{  asset('css/style.css') }}">

            <!--Favicon-->
            <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
            <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
